.forbidden-lands .main-tab {
	display: grid;
	gap: 8px;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	overflow-y: auto;
}

.forbidden-lands .attributes {
	align-items: center;
	display: grid;
	gap: 4px 8px;
	grid-template-columns: auto 1fr auto;
	padding: 0 8px 8px;
}

.forbidden-lands .attributes h1 {
	grid-column: 1/-1;
}

.forbidden-lands .attributes .name {
	font-family: var(--font-special);
}

.forbidden-lands .attributes .value {
	font-family: var(--font-special);
}

.forbidden-lands .attributes .value input {
	width: 2em;
}

.forbidden-lands .attributes .broken {
	color: #a00;
}

.forbidden-lands .character .conditions-grid {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(2, 1fr);
	gap: 40% 20%;
	place-content: center;
	padding: 5% 10%;
}
.forbidden-lands .conditions-grid a.condition {
	font-family: var(--font-special);
	font-weight: bold;
	display: inline-grid;
	grid: inherit;
	gap: 4px;
	place-content: baseline;
}

.forbidden-lands .character .condition i {
	font-size: 18px;
	justify-self: end;
}

.forbidden-lands .conditions .condition.active {
	color: #a00;
}

.forbidden-lands .skills {
	align-items: baseline;
	display: grid;
	flex-basis: calc(50% - 4px);
	flex-grow: 1;
	gap: 4px 8px;
	grid-template-columns: 1fr auto;
	padding: 0 8px 8px;
}

.forbidden-lands .skills h1 {
	grid-column: 1/-1;
}

.forbidden-lands .skills .name {
	font-family: var(--font-special);
	flex-basis: 50%;
}

.forbidden-lands .skills input {
	width: 2em;
}
