.forbidden-lands .stronghold .gears {
	padding-bottom: 8px;

	.items .header {
		margin: 0;
		width: 100%;
	}

	.items div + .header {
		margin-top: 8px;
	}

	.gear {
		align-items: center;
	}

	.name {
		align-items: center;
		flex-basis: 60%;
		display: flex;
	}

	.header .name,
	.name .name,
	.bonus,
	.quantity,
	.weight,
	.button {
		margin-left: 4px;
	}

	.bonus,
	.weight,
	.quantity {
		flex-basis: 15%;
		text-align: center;
	}

	.bonus.broken {
		color: #a00;
	}

	.button {
		flex-basis: 10%;
		font-size: 10px;
		text-align: right;
	}
}
