.forbidden-lands .main-tab {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.forbidden-lands .attributes {
  align-items: baseline;
  display: grid;
  gap: 4px 8px;
  grid-template-columns: auto 1fr auto;
  padding: 0 8px 8px;
}

.forbidden-lands .attributes h1 {
  grid-column: 1/-1;
}

.forbidden-lands .attributes .name {
  font-family: var(--font-special);
}

.forbidden-lands .attributes .value {
  font-family: var(--font-special);
}

.forbidden-lands .attributes .value input {
  width: 2em;
}

.forbidden-lands .attributes .broken {
  color: #a00;
}

.forbidden-lands .conditions a.condition {
  color: var(--color-secondary);
  flex-basis: 50%;
  font-family: var(--font-special);
  font-weight: bold;
}

.forbidden-lands .conditions .condition.active {
  color: #a00;
}

.forbidden-lands .skills {
  align-items: baseline;
  display: grid;
  flex-basis: calc(50% - 4px);
  flex-grow: 1;
  gap: 4px 8px;
  grid-template-columns: auto 2em;
  padding: 0 8px 8px;
}

.forbidden-lands .skills h1 {
  grid-column: 1/-1;
}

.forbidden-lands .skills .name {
  font-family: var(--font-special);
  flex-basis: 50%;
}
