.forbidden-lands .monster .gears {
    padding-bottom: 8px;
  }
  
  .forbidden-lands .monster .gears .gear {
    align-items: center;
  }
  
  .forbidden-lands .monster .gears .name {
    align-items: center;
    flex-basis: 55%;
    display: flex;
  }
  
  .forbidden-lands .monster .gears .header .name,
  .forbidden-lands .monster .gears .name .name,
  .forbidden-lands .monster .gears .bonus,
  .forbidden-lands .monster .gears .weight,
  .forbidden-lands .monster .gears .button {
    margin-left: 4px;
  }
  
  .forbidden-lands .monster .gears .bonus {
    flex-basis: 15%;
    text-align: center;
  }
  
  .forbidden-lands .monster .gears .bonus.broken {
    color: #a00;
  }
  
  .forbidden-lands .monster .gears .weight {
    flex-basis: 15%;
    text-align: center;
  }
  
  .forbidden-lands .monster .gears .button {
    flex-basis: 15%;
    font-size: 10px;
    text-align: right;
  }
  