.forbidden-lands .monsters .gears {
    flex-basis: 50%;
}

.forbidden-lands .monster .gears .header {
    background-color: lightslategrey;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}

.forbidden-lands .monster .gears .gear {
    align-items: center;
}

.forbidden-lands .monster .gears .gear .name {
    flex-basis: 58%;
}

.forbidden-lands .monster .gears .gear.item .name:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.forbidden-lands .monster .gears .gear .bonus {
    flex-basis: 17%;
}

.forbidden-lands .monster .gears .gear .button {
    flex-basis: 25%;
}

.forbidden-lands .monster .gears .scrollable {
    overflow-y: auto;
    max-height: 185px;
}