.forbidden-lands .monster .combat-monster .header {
    background-color: lightslategrey;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}

.forbidden-lands .monster .armors {
}

.forbidden-lands .monster .armors .armor {
    align-items: center;
    padding: 0 5px 5px 5px;
}

.forbidden-lands .monster .armors .armor b {
    flex-basis: 50%;
}

.forbidden-lands .monster .armors .armor b:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.forbidden-lands .monster .armors .armor input {
    flex-basis: 25%;
    margin-right: 5px;
    text-align: center;
}

.forbidden-lands .monster .armors .armor input:last-child {
    margin-right: 0;
    margin-left: 5px;
}

.forbidden-lands .monster .armors .armor.total input {
    flex-basis: 50%;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
}

.forbidden-lands .monster .monster-talents {
}

.forbidden-lands .monster .monster-talents .monster-talent {
    align-items: center;
}

.forbidden-lands .monster .monster-talents .monster-talent.item .name:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.forbidden-lands .monster .monster-talents .monster-talent .name {
    flex-basis: 15%;
}

.forbidden-lands .monster .monster-talents .monster-talent .description {
    flex-basis: 75%;
}

.forbidden-lands .monster .monster-talents .monster-talent .button {
    flex-basis: 10%;
}

.forbidden-lands .monster .monster-talents .scrollable {
    overflow-y: auto;
    max-height: 130px;
}

.forbidden-lands .monster .monster-attacks {
}

.forbidden-lands .monster .monster-attacks .monster-attack {
    align-items: center;
}

.forbidden-lands .monster .monster-attacks .monster-attack.item .name:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.forbidden-lands .monster .monster-attacks .monster-attack .name {
    flex-basis: 15%;
}

.forbidden-lands .monster .monster-attacks .monster-attack .dice {
    flex-basis: 10%;
}

.forbidden-lands .monster .monster-attacks .monster-attack .damage {
    flex-basis: 10%;
}

.forbidden-lands .monster .monster-attacks .monster-attack .description {
    flex-basis: 55%;
}

.forbidden-lands .monster .monster-attacks .monster-attack .button {
    flex-basis: 10%;
}

.forbidden-lands .monster .monster-attacks .scrollable {
    overflow-y: auto;
    max-height: 230px;
}