.forbidden-lands .stronghold .buildings {
  flex-basis: 50%;
}

.forbidden-lands .stronghold .buildings .building {
  align-items: center;
}

.forbidden-lands .character .buildings .header .name,
.forbidden-lands .character .buildings .name .name,
.forbidden-lands .character .buildings .number,
.forbidden-lands .character .buildings .button {
  margin-left: 4px;
}

.forbidden-lands .stronghold .buildings .building .name {
  flex-basis: 75%;
}

.forbidden-lands .stronghold .buildings .building .name a {
  font-weight: bold;
}

.forbidden-lands .stronghold .buildings .building .number {
  flex-basis: 15%;
  text-align: center;
}

.forbidden-lands .stronghold .buildings .building .button {
  flex-basis: 10%;
  font-size: 10px;
  text-align: right;
}
