@use "utils";

.chargen .chargen-roll {
	width: 30px;
	height: 30px;
	background-image: url("../assets/rolling-dices.png");
	background-size: 30px 30px;
	background-position: center;
	background-repeat: no-repeat;
}
.chargen .chargen-roll:hover {
	background-image: url("../assets/rolling-dices.png");
	background-size: 35px 35px;
	background-position: center;
	background-repeat: no-repeat;
}

.chargen-options {
	background: #363636;
	display: flex;
	justify-content: space-around;
	b {
		line-height: 1;
		position: relative;
		font-weight: 400;
		padding: 8px 19px;
		color: #fff;
		font-family: "IM Fell DW Pica";
		text-transform: uppercase;
		&:hover {
			text-shadow: 0 0 6px #fff;
		}
		@include utils.tab-button("&:hover");
	}
}

.chargen-title {
	margin-top: 20px;
	font-size: var(--font-size--large);
	font-family: "IM Fell DW Pica";
	font-weight: 600;
	text-transform: uppercase;
	color: #363636;
}

.chargen-description {
	font-family: "IM Fell Great Primer";
	font-size: var(--font-size--default);
	text-align: justify;
	margin: 20px 0;
	line-height: 1.35;
}

.chargen-section {
	align-items: flex-start; //To avoid the right-hand side boxes moving too much.
	button.chargen-roll {
		margin: 10px 10px 10px 5px;
		min-width: 40px;
		min-height: 40px;
		color: #fff;
	}
	.chargen-section-content {
		display: flex;
		flex-flow: column;
		flex: 1 0 20%;
	}
}

.chargen-build {
	min-width: 33%;
	display: flex;
	flex-direction: column;
	color: #363636;
	flex-wrap: wrap;
	padding: 15px;
	margin-top: 4px;
	margin-left: 30px;
	font-family: "IM FELL DW Pica";
	justify-content: space-around;
	font-size: var(--font-size--default);
	background: #fff;
	border-image-outset: 3px;
}

.chargen-items {
	font-weight: bold;
}

.chargen-list-caption {
	text-transform: uppercase;
	border-bottom: 1px solid;
}

.chargen-list ul {
	padding: 0;
	li {
		list-style: none;
	}
}

.chargen-select-kin,
.chargen-select-profession {
	max-width: 110px;
}

.chargen-age-container {
	white-space: nowrap;
	.chargen-age-input {
		max-width: 60px;
	}
}

.chargen-list li strong {
	text-transform: capitalize;
}

.chargen-background-table {
	& > div {
		border-bottom: 1px solid #363636;
		padding: 10px;
	}

	& > div:nth-child(odd) {
		background: #ccc;
	}
	button:hover {
		background-color: #fff;
	}
}
