.skullz {
	font-family: skullz;
	font-size: 1.3em;
	line-height: 1em;
	height: 1em;
	transform: translateY(0.2em);
	margin: 0 0.2rem 0 0;
	display: block;
	font-weight: 400;
}

.sword {
	font-family: swordlings;
	font-size: 0.8em;
	margin: 0 0.2rem;
	display: block;
	font-weight: 600;
}

.special-number {
	line-height: 1.2rem;
	display: block;
}

.fbl-button {
	background: #eee;
	padding: 0.2em 2em;
	font-weight: bold;
	font-size: max(1rem, 100%);
	box-shadow: none;
	border: 2px groove #eeec;
	width: max(2em, 60%);
	display: block;
	margin: 0 auto;

	&:hover,
	&:focus {
		box-shadow: none;
		border: 2px groove var(--color-highlight);
		background: var(--color-highlight);
	}

	&:active {
		box-shadow: none;
		border: 2px ridge var(--color-highlight);
	}
}

.chat-flavor {
	font-size: 1.4rem;
	display: block;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}
