@forward "variables";

body.theme-dark {

	#sidebar,
	#players,
	#hotbar #action-bar,
	#controls ol .scene-control,
	#controls ol .control-tool,
	#controls ol .scene-control.active,
	#controls ol .control-tool.active,
	#hotbar #hotbar-page-controls,
	#hotbar #hotbar-directory-controls,
	#navigation #nav-toggle,
	#navigation #scene-list .scene.view,
	.app.window-app,
	.app.dialog,
	.application.dialog,
	.application.window-app {
		border-image-source: url(./assets/journal-art/box-border-large-dark.webp);
	}

	button {
		background: var(--color-theme-alt-1000);
		border-color: var(--color-theme-theme-contrast);
	}

	input[type="text"],
	input[type="number"],
	input[type="password"],
	input[type="date"],
	input[type="time"],
	input[type="search"] {
		color: #111;
	}

	.forbidden-lands input {
		color: var(--color-theme-text);
	}

	#chat-log .message {
		background: var(--color-theme-background);
	}

	.chat-message .message-header {
		color: var(--color-theme-text);
	}

	.journal-page-header h1,
	.journal-page-header h2,
	.journal-page-header h3 {
		color: var(--color-theme-text);
	}

	.journal-sheet .journal-header .title {
		color: var(--color-theme-text);
	}
}

.window-app .window-content {
	background-image: none;
}

html.no-borders,
html.no-borders body.theme-dark {

	#sidebar,
	#players,
	#hotbar #action-bar,
	#controls ol .scene-control,
	#controls ol .control-tool,
	#controls ol .scene-control.active,
	#controls ol .control-tool.active,
	#hotbar #hotbar-page-controls,
	#hotbar #hotbar-directory-controls,
	#navigation #nav-toggle,
	#navigation #scene-list .scene.view,
	.app.window-app.app.window-app {
		border-image: none;
	}
}