:root {
	// Theme Colors
	--color-theme-text: #222020;
	--color-theme-background: #fff;
	--color-theme-contrast: var(--color-theme-gray-200);
	--color-theme-accent: #a00404;
	--color-theme-gray-200: #dddddd;
	--color-theme-gray-600: #707070;
	--color-theme-gray-800: #333333;
	--color-theme-alt-200: #ffb994;
	--color-theme-alt-600: #36b5a7;
	--color-theme-alt-800: #005d67;
	--color-theme-alt-900: #433a3f;
	--color-theme-alt-1000: #bcb192;

	// Foundry Overrides
	--color-foreground: var(--color-theme-text);
	--color-background: var(--color-theme-background);
	--color-text-light-highlight: #f0f0e0;
	--color-text-light-heading: #c9c7b8;
	--color-text-light-primary: #b5b3a4;
	--color-text-dark-primary: var(--color-theme-text);
	--color-text-dark-secondary: #4b4a44;
	--color-text-dark-header: #23221d;
	--color-text-dark-inactive: #7a7971;
	--color-text-hyperlink: var(--color-theme-accent);
	--color-text-light-0: #fff;
	--color-text-light-1: #eee;
	--color-text-light-2: #ddd;
	--color-text-light-3: #ccc;
	--color-text-light-4: #bbb;
	--color-text-light-5: #aaa;
	--color-text-light-6: #999;
	--color-text-light-7: #888;
	--color-text-dark-1: var(--color-theme-text);
	--color-text-dark-2: #222;
	--color-text-dark-3: #444;
	--color-text-dark-4: #555;
	--color-text-dark-5: #666;
	--color-text-dark-6: #777;
	--color-border-light-1: #ddd;
	--color-border-light-2: #999;
	--color-border-dark-1: #111;
	--color-border-dark-2: #222;
	--color-border-dark-3: #333;
	--color-border-dark-4: #444;
	--color-border-dark-5: #666;
	--color-shadow-primary: var(--color-theme-alt-800);
	--color-shadow-highlight: var(--color-theme-alt-600);
	--color-shadow-dark: var(--color-theme-gray-800);
	--color-underline-inactive: #7a7971;
	--color-underline-active: var(--color-theme-accent);
	--color-underline-header: var(--color-theme-text);
	--color-border-light-highlight: #f0f0e0;
	--color-border-light-primary: #b5b3a4;
	--color-border-light-secondary: #c9c7b8;
	--color-border-light-tertiary: #7a7971;
	--color-border-dark: var(--color-theme-gray-800);
	--color-border-dark-primary: var(--color-theme-text);
	--color-border-dark-secondary: #23221d;
	--color-border-dark-tertiary: #4b4a44;
	--color-border-highlight: var(--color-theme-alt-600);
	--color-border-highlight-alt: var(--color-theme-alt-600);
	--color-bg-btn-minor-inactive: #c9c7b8;
	--color-bg-btn-minor-active: #b5b3a4;
	--sidebar-width: 300px;
	--sidebar-header-height: 32px;
	--sidebar-item-height: 48px;
	--hotbar-height: 52px;
	--hotbar-width: 578px;
	--macro-size: 50px;
	--players-width: 200px;
	--form-field-height: 26px;
	--font-header: "IM Fell DW Pica", serif;
	--font-header-sc: "IM Fell DW Pica SC", serif;
	--font-primary: Branding, Author, MavenPro, Ubuntu, sans-serif;
	--font-alternative: "IM Fell Great Primer", serif;
	--font-size-11: 0.6875rem;
	--font-size-12: 0.75rem;
	--font-size-13: 0.8125rem;
	--font-size-14: 0.875rem;
	--font-size-16: 1rem;
	--font-size-18: 1.125rem;
	--font-size-20: 1.25rem;
	--font-size-24: 1.5rem;
	--font-size-28: 1.75rem;
	--line-height-12: 0.75rem;
	--line-height-16: 1rem;
	--line-height-20: 1.25rem;
	--line-height-30: 1.875rem;
}

html.dark {
	--color-theme-background: var(--color-theme-alt-1000);
	--color-theme-alt-600: var(--color-theme-gray-600);
	--color-theme-alt-800: var(--color-theme-gray-800);
	--color-theme-gray-200: #dddddd96;
	--color-highlight: #f0f0e0;
	--color-text-dark-5: #555;
	--color-text-dark-6: #555;
}