body {
	// Theme Colors
	--color-theme-text: #222020;
	--color-theme-background: #fff;
	--color-theme-contrast: var(--color-theme-gray-200);
	--color-theme-accent: #a00404;
	--color-theme-gray-200: #dddddd;
	--color-theme-gray-400: #999999;
	--color-theme-gray-600: #707070;
	--color-theme-gray-800: #333333;
	--color-theme-alt-200: #ffb994;
	--color-theme-alt-600: #36b5a7;
	--color-theme-alt-800: #005d67;
	--color-theme-alt-900: #433a3f;
	--color-theme-alt-1000: #bcb192;

	--font-header: "IM Fell DW Pica", serif;
	--font-header-sc: "IM Fell DW Pica SC", serif;
	--font-primary: Branding, Author, MavenPro, Ubuntu, sans-serif;
	--font-alternative: "IM Fell Great Primer", serif;

	// Foundry Fonts
	--font-body: var(--font-primary);

	// Shadow Colors
	--color-shadow-primary: var(--color-theme-alt-600);
	--color-shadow-highlight: var(--color-theme-alt-800);

	// Border Colors
	--color-border-highlight: var(--color-theme-alt-600);
	--color-border-highlight-alt: var(--color-theme-alt-800);

	// Hyperlink
	--color-text-hyperlink: var(--color-theme-accent);
}

body.theme-dark {
	--color-theme-background: var(--color-theme-alt-1000);
}