$ra-font-path: "./fonts";
@import "~rpg-awesome/scss/rpg-awesome.scss";

@font-face {
	font-family: "IM Fell DW Pica";
	src: url("./fonts/IMFeDPrm29C.otf");
}

@font-face {
	font-family: "IM Fell DW Pica";
	src: url("./fonts/IMFeDPit29C.otf");
	font-style: italic;
}

@font-face {
	font-family: "IM Fell DW Pica SC";
	src: url("./fonts/IMFellDWPicaSC-Regular.ttf");
}

@font-face {
	font-family: "IM Fell Three Line Pica";
	src: url("./fonts/IMFeTLrm29C.otf");
}

@font-face {
	font-family: "IM Fell Great Primer";
	src: url("./fonts/IMFeGPrm29C.otf");
}

@font-face {
	font-family: "IM Fell Great Primer";
	src: url("./fonts/IMFeGPit29C.otf");
	font-style: italic;
}

@font-face {
	font-family: "Author";
	size-adjust: 110%;
	src: url("./fonts/Author-Medium.otf");
}

@font-face {
	font-family: "Author";
	font-weight: bold;
	size-adjust: 110%;
	src: url("./fonts/Author-SemiBold.otf");
}

@font-face {
	font-family: "Author";
	font-style: italic;
	size-adjust: 110%;
	src: url("./fonts/Author-MediumItalic.otf");
}

@font-face {
	font-family: "Author";
	font-style: italic;
	font-weight: bold;
	size-adjust: 110%;
	src: url("./fonts/Author-SemiBoldItalic.otf");
}

@font-face {
	font-family: "skullz";
	src: url("./fonts/skullz.ttf");
}

@font-face {
	font-family: "Swordlings";
	src: url("./fonts/Swordlings.ttf");
}
