@use "../utils";

.forbidden-lands {
	&.window-app .window-content > * {
		height: 100%;
	}

	&.sheet label {
		font-family: var(--font-special);
		font-size: var(--font-size-16);
		font-weight: bold;
	}

	h1,
	h3 {
		border: 0 none;
		font-family: var(--font-subheader);
		font-size: var(--font-size-16);
		font-weight: bold;
		line-height: initial;
		margin: 0;
		padding: 4px 4px;
		text-align: center;
		text-transform: uppercase;
	}

	h3 {
		padding: 0;
		margin-bottom: 4px;
	}

	option {
		background: var(--color-background);
	}

	.rotated {
		transform: rotate(90deg);
		font-size: var(--font-size-16);
	}

	.pre-wrap {
		white-space: pre-wrap;
	}

	.flex {
		display: flex;
	}

	.row {
		flex-direction: row;
	}

	.column {
		flex-direction: column;
	}

	.full {
		width: 100%;
		height: 100%;
	}

	.wrap {
		flex-wrap: wrap;
	}

	.half {
		flex: 0 0 50%;
	}

	.center {
		text-align: center;
	}

	.margin {
		margin: 5px;
	}

	.grow {
		flex-grow: 1;
	}

	.flex-1 {
		flex: 1;
	}

	.gap {
		gap: 0.5rem;
	}

	.gap-l {
		gap: 1rem;
	}

	.align-center {
		align-items: center;
	}

	.align-end {
		align-items: flex-end;
	}

	.space-around {
		justify-content: space-around;
	}

	.space-between {
		justify-content: space-between;
	}

	.justify-end {
		justify-content: flex-end;
	}

	.padding {
		padding: 5px;
	}

	.tabs .item.active {
		color: #fff;
		text-shadow: 0 0 10px #fff;
	}

	.tab {
		height: 100%;
		width: 100%;
	}

	.item-control {
		margin-left: 4px;
	}

	button {
		background: transparent;
		border: 0 none;
		border-radius: 3px;
		box-shadow: none;
		color: var(--color-foreground);
		cursor: pointer;
		font-family: inherit;
		font-size: inherit;
		font-weight: bold;
		height: auto;
		line-height: inherit;
		padding: 2px 4px;
		width: auto;

		&:disabled {
			cursor: default;
			opacity: 0.5;

			&:hover {
				background: transparent;
			}
		}
	}
	button:focus,
	button:hover {
		background: var(--color-highlight);
	}

	input[type="number"],
	input[type="text"],
	select,
	textarea {
		background: var(--color-background);
		border: 1px solid var(--color-border);
		border-radius: 3px;
		box-shadow: inset 0 0 6px var(--color-secondary);
		color: var(--color-foreground);
		font-family: var(--font-input);
		font-size: var(--font-size-14);
		height: auto;
		width: 100%;
	}
	input:disabled,
	select:disabled,
	textarea:disabled {
		border: 0 none;
		box-shadow: none;
	}

	input::placeholder {
		color: var(--color-foreground);
		opacity: 0.5;
	}

	input[type="number"] {
		-moz-appearance: textfield;
		-webkit-appearance: textfield;
		appearance: textfield;
		text-align: center;
	}
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"]:focus,
	input[type="text"]:focus,
	select:focus,
	textarea:focus {
		border: 1px solid var(--color-border);
		box-shadow: 0 0 10px var(--color-shadow-primary);
		outline: none;
	}

	.sheet-body {
		overflow: hidden;
		flex-grow: 1;
	}

	div.bio.border,
	.main-tab div.border,
	.character div.currencies.border,
	.character div.consumables.border,
	.chargen-build,
	.character div.actions.border {
		border: 6px solid transparent;
		border-image: url(./assets/journal-art/small-border.webp) 100/10px repeat;
	}

	.item-list {
		display: flex;
		flex-direction: column;
		font-family: var(--font-table);
		font-size: var(--font-size-12);
		line-height: 16px;
		min-height: 0;
		padding: 4px;

		.header {
			justify-content: space-between;
			border-bottom: 2px solid var(--color-border);
			margin-bottom: 4px;
			font-size: var(--font-size-12);
			font-weight: bold;
			padding: 4px;
			text-transform: uppercase;
		}

		.items {
			overflow-y: auto;
			scrollbar-width: none;

			.item {
				justify-content: space-between;
				overflow-y: hidden;
				border-bottom: 1px solid var(--color-border);
				font-size: var(--font-size-12);
				padding: 2px 4px;

				&:last-child {
					border-bottom: 0 none;
				}

				&:nth-child(odd) {
					background: var(--color-secondary);
				}

				&:nth-child(odd) button:focus,
				&:nth-child(odd) button:hover {
					background: var(--color-background);
				}

				img {
					object-fit: contain;
					vertical-align: middle;
					filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.6));
				}
			}
		}
	}
}

.forbidden-lands.sheet .window-content {
	background: var(--color-background);
	color: var(--color-foreground);
	height: 100%;
}

/* Scrollbars */
.app {
	background: #292929f0;
	&.window-app {
		color: #000;
		border: 2px solid transparent;
		border-image: url(./assets/journal-art/box-border-large.webp) 110/11 repeat;
		border-image-outset: 3;
		padding: 0 4px 4px;
		margin: 0;
		background-color: #fff;
		.journal-sheet {
			min-width: 500px;
			min-height: 300px;
		}
		&.sheet {
			&.journal-sheet {
				min-height: 260px;
				min-width: 560px;
			}
			&.forbidden-lands {
				&.actor {
					::-webkit-scrollbar {
						width: 6px;
					}
					::-webkit-scrollbar-thumb {
						background: var(--color-secondary);
						border: 0 none;
					}
				}

				.bio {
					padding: 4px 8px;
					.avatar {
						background: radial-gradient(closest-side, var(--color-highlight) 0%, white 100%);
						flex: 0 0 auto;
						height: 95px;
						width: 95px;

						&:hover {
							cursor: pointer;

							& > img {
								filter: drop-shadow(0 0 5px #a00404);
							}
						}
						img {
							place-self: center;
							border: none;
							display: block;
							max-width: 100%;
							max-height: 100%;
							min-width: 20px;
							min-height: 20px;
						}
					}
				}
			}
		}
	}
	&.sidebar-popout {
		.window-content {
			width: 96%;
			margin: auto;
			color: #222;
			margin-bottom: 10px;
		}
		.subdirectory {
			border-color: #555;
			li {
				&.folder {
					& > .folder-header {
						background: rgba(0, 0, 0, 0.2);
						color: #222;
					}
				}
			}
		}
		li {
			&.folder {
				& > .folder-header {
					background: rgba(255, 255, 255, 0.9);
					color: #222;
					h3 {
						color: #222;
					}
					.create-entity {
						color: #444;
					}
				}
			}
			&.directory-item {
				&.entity {
					background: rgba(0, 0, 0, 0.5);
					color: #eee;
				}
			}
		}
		.folder {
			& > .folder-header {
				.create-folder {
					color: #444;
				}
			}
		}
	}
}

#chat-log .message {
	background: white;
}
.app,
#hotbar .macro,
#hotbar .macro .macro-key,
#hotbar .bar-controls,
#controls .scene-control,
#controls .control-tool,
#navigation #nav-toggle,
#navigation #scene-list .scene {
	background: var(--color-foreground);
	color: var(--color-background);
}
button,
.dialog .dialog-buttons button.default,
#chat-form textarea,
#chat-controls div.roll-type-select select,
.window-app .window-content,
.sidebar-tab .directory-header .header-search input {
	background: var(--color-background);
	color: var(--color-foreground);
}
#navigation #scene-list .scene.gm {
	background: #525252;
	border: 1px solid var(--color-border);
}

.forbidden-lands .sheet-tabs {
	background-color: var(--color-foreground);
	color: #ddd;
	font-family: var(--font-special);
	margin: 8px 0;
	padding: 0 8px;
	flex-wrap: nowrap;
	justify-content: space-evenly;

	b:hover {
		cursor: pointer;
		text-shadow: 0 0 8px #a00404;
	}
	.tab-item {
		position: relative;
		flex: 0;
		padding: 8px 12px;
		font-weight: 400;
		font-size: var(--font-size-16);
		line-height: 1;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		&:hover {
			text-shadow: 0 0 6px #fff;
		}
		&.active {
			filter: drop-shadow(0 0 2px #999);
			color: #fff;
			@include utils.tab-button("&");
		}
	}
}

.forbidden-lands .fas.fa-circle,
.forbidden-lands .far.fa-circle,
.forbidden-lands .far.fa-times-circle,
.forbidden-lands .far.fa-check-circle {
	font-size: var(--font-size-14);
	color: #333;
}

.forbidden-lands .broken {
	color: #a00404;
}

.broken .fas.fa-circle,
.broken .far.fa-circle,
.broken .far.fa-times-circle,
.condition .far.fa-times-circle,
.broken .far.fa-check-circle {
	color: #a00404;
}
.broken .change-willpower .far.fa-circle {
	color: #333;
}

.macro-select {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
	margin-bottom: 1rem;

	h3 {
		margin-bottom: 1rem;
	}

	label {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 1rem;
	}
}

.app.journal-sheet .journal-entry-content .fbl-table-display,
.fbl-table-display {
	table:hover {
		cursor: pointer;
		box-shadow: 1px 2px 4px #000;
	}

	h4 {
		font-family: var(--font-table);
		font-weight: 600;
		font-size: var(--font-size-18);
		margin: 0;
	}

	th {
		text-transform: uppercase;
		font-size: var(--font-size-16);
	}

	th:nth-child(2) {
		text-align: left;
		padding-left: 8px;
	}

	td:first-child {
		text-align: center;
		width: 60px;
		padding-right: 8px;
	}

	td:nth-child(2) {
		text-align: left;
		padding-left: 8px;
	}
}
