:root {
	--color-foreground: #292929f0;
	--color-background: #fff;
	--color-highlight: #aaa;
	--color-secondary: #ddd;
	--color-border: #939598;
	--font-editor: "IM Fell Great Primer", serif;
	--font-input: "Poppins", sans-serif;
	--font-special: "IM Fell DW Pica", serif;
	--font-subheader: "IM Fell DW Pica SC", serif;
	--font-table: "Poppins", sans-serif;
	--font-size--extra-small: var(--font-size-11);
	--font-size--very-small: var(--font-size-13);
	--font-size--small: var(--font-size-14);
	--font-size--default: var(--font-size-16);
	--font-size--large: var(--font-size-18);
	--font-size--extra-large: var(--font-size-20);
}
