:root {
	--color-foreground: #292929f0;
	--color-background: #fff;
	--color-highlight: #cbcccb;
	--color-secondary: #ddd;
	--color-border: #939598;
	--color-shadow-primary: #a00404;
	--color-shadow-highlight: #005d67;
	--color-border-highlight: #36b5a7;
	--font-editor: "IM Fell Great Primer", serif;
	--font-input: "Poppins", sans-serif;
	--font-special: "IM Fell DW Pica", serif;
	--font-subheader: "IM Fell DW Pica SC", serif;
	--font-table: "Poppins", sans-serif;
}
