# OS
/__MACOSX

# IDE
/.idea
/.vs
*.code-workspace
.history

# Node Modules
/node_modules
npm-debug.log

# Local configuration
foundryconfig.json

# Distribution files
/dist
/forbidden-lands.js
/forbidden-lands.css

# ESLint
/.eslintcache

# Junit results
junit.xml

# filetypes
.DS_Store

# NPM files
package-lock.json

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/