# OS
__MACOSX/

# IDE
.idea/
.vs/
.vscode
workspace.code-workspace

# Node Modules
node_modules/
npm-debug.log

# Local configuration
foundryconfig.json

# Distribution files
dist

#Static files
static

# ESLint
.eslintcache

# Junit results
junit.xml

# filetypes
.DS_Store
