// Overriding the base look of almost every major UI element
#sidebar,
#hotbar #hotbar-directory-controls,
#hotbar #action-bar,
#hotbar #hotbar-page-controls,
#players,
#controls ol .scene-control,
#controls ol .control-tool,
#controls ol .scene-control.active,
#controls ol .control-tool.active,
#navigation #nav-toggle,
#navigation #scene-list .scene.view,
.app.window-app {
	border: 4px solid transparent;
	border-image: url(./assets/journal-art/box-border-large.webp) 108/3 repeat;
	border-image-outset: 1;
	background: var(--color-theme-background);
	color: var(--color-theme-text);
}

.window-app .window-content,
.chat-message {
	background: none;
}

#pause {
	background: none;
	& > img {
		width: 180px;
		height: 180px;
		top: -40px;
		left: calc(50% - 90px);
		opacity: 0.75;
		-webkit-animation: rotation 8s infinite linear;
		animation: rotation 8s infinite linear;
	}
	h3 {
		color: #f2f2f2;
		font-family: var(--font-header-sc);
		font-size: var(--font-size-28);
		text-shadow: 0px 3px 5px #000;
	}
}

// Darkmode
html.dark {
	--color-theme-background: #222020;
	--color-theme-text: #fff;

	#sidebar,
	#hotbar #hotbar-directory-controls,
	#hotbar #action-bar,
	#hotbar #hotbar-page-controls,
	#players,
	#controls ol .scene-control,
	#controls ol .control-tool,
	#controls ol .scene-control.active,
	#controls ol .control-tool.active,
	#navigation #nav-toggle,
	#navigation #scene-list .scene.view,
	.app.window-app {
		border-image-source: url(./assets/journal-art/box-border-large-dark.webp);
	}
}
