$ra-font-path: "./fonts";
@import "~rpg-awesome/scss/rpg-awesome.scss";

@font-face {
	font-family: "IM Fell DW Pica";
	src: url("./fonts/imfe-dprm.otf");
}

@font-face {
	font-family: "IM Fell DW Pica";
	src: url("./fonts/imfe-dpit.otf");
	font-style: italic;
}

@font-face {
	font-family: "IM Fell DW Pica SC";
	src: url("./fonts/imfe-dwpscr.ttf");
}

@font-face {
	font-family: "IM Fell Three Line Pica";
	src: url("./fonts/imfe-tlrm.otf");
}

@font-face {
	font-family: "IM Fell Great Primer";
	src: url("./fonts/imfe-gprm.otf");
}

@font-face {
	font-family: "IM Fell Great Primer";
	src: url("./fonts/imfe-gpit.otf");
	font-style: italic;
}

@font-face {
	font-family: "Author";
	size-adjust: 110%;
	src: url("./fonts/author-medium.otf");
}

@font-face {
	font-family: "Author";
	font-weight: bold;
	size-adjust: 110%;
	src: url("./fonts/author-semibold.otf");
}

@font-face {
	font-family: "Author";
	font-style: italic;
	size-adjust: 110%;
	src: url("./fonts/author-medium-italic.otf");
}

@font-face {
	font-family: "Author";
	font-style: italic;
	font-weight: bold;
	size-adjust: 110%;
	src: url("./fonts/author-semibold-italic.otf");
}

@font-face {
	font-family: "Skullz";
	src: url("fonts/skullz.ttf");
}

@font-face {
	font-family: "Swordlings";
	src: url("./fonts/swordlings.ttf");
}

$ra-font-path: "./fonts";
@import "node_modules/rpg-awesome/scss/rpg-awesome"; //External Import

/* -------------- */
/*  Font Awesome  */
/*   Overrides    */
/* -------------- */

.fa-suitcase {
	font-family: RPGAwesome;
	font-size: 1.6rem;
	transform: translateY(1px);
	&:before {
		content: "\ea72";
	}
}

.fa-comments {
	font-family: RPGAwesome;
	font-size: 1.5rem;
	transform: translateY(1px);
	&:before {
		content: "\ea8f";
	}
}

.fa-fist-raised {
	font-family: Swordlings;
	transform: translate(1.3px, -0.6px);
	font-size: 1.5rem;
	&:before {
		content: "x";
	}
}
