.sword {
	font-family: "Swordlings" !important;
	line-height: 1;
	align-self: center;
	font-weight: 700;
}

.skullz {
	font-family: "Skullz" !important;
	font-size: 1.6em;
	line-height: 1rem;
	font-weight: 400;
	position: relative;
	top: 0.2em;
	align-self: center;
	margin-inline-end: -0.27em;
}
