.forbidden-lands.item {
	min-height: 250px;
	min-width: 380px;
	height: 100%;
	max-width: 600px;
	max-height: 700px;
}

.forbidden-lands.item label {
	display: block;
	font-family: var(--font-special);
	font-weight: bold;
}

.forbidden-lands.item .multivalue {
	align-items: center;
	display: grid;
	margin: 0 8px;
	font-family: var(--font-special);
	gap: 2px;
	grid-template-columns: 1fr auto 1fr;
}

.forbidden-lands.item .header {
	align-items: center;
	display: flex;
	padding: 8px;
	justify-content: space-between;
	height: fit-content;
}

.forbidden-lands.item .header .header-stats {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 2px;
	margin-left: 8px;
}

.forbidden-lands.item .header .header-stats label {
	grid-column: 1;
	text-align: right;
	margin-right: 8px;
}

.forbidden-lands.item .header .header-stats .bonus {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
}

.forbidden-lands.item .header .header-stats .bonus input {
	width: 2em;
}

.forbidden-lands.item .header .header-stats .bonus i {
	vertical-align: middle;
}

.forbidden-lands.item .avatar {
	background: radial-gradient(
		closest-side,
		var(--color-highlight) 0%,
		transparent 100%
	);
	grid-row: 1/3;
	height: 95px;
	width: 95px;
}

.forbidden-lands.item .avatar img {
	border: 0 none;
	display: block;
	max-width: 95px;
	max-height: 95px;
	min-width: 20px;
	min-height: 20px;
	margin: auto;
}
.forbidden-lands.item .avatar img:hover {
	box-shadow: 0 0 10px red;
	cursor: pointer;
}



.forbidden-lands.item .sheet-body {
	overflow-y: auto;
	min-height: 0;
}

.forbidden-lands.item .sheet-body .tab {
	margin-bottom: 8px;
}

.forbidden-lands.item .sheet-body .border {
	padding: 8px;
	margin-bottom: 8px;
}

.forbidden-lands.item .sheet-body .main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 8px;
	align-items: end;
}

.forbidden-lands.item .item .requirement,
.forbidden-lands.item .item .tools,
.forbidden-lands.item .item .effect,
.forbidden-lands.item .item .description,
.forbidden-lands.item .item .drawback,
.forbidden-lands.item .item .appearance,
.forbidden-lands.item .roll-modifiers,
.forbidden-lands.item .item .spell-description,
.forbidden-lands.item .item .talent-description,
.forbidden-lands.item .item .monster-description,
.forbidden-lands.item .item .hireling-description,
.forbidden-lands.item .item .building-raw-materials,
.forbidden-lands.item .item .building-description {
	grid-column: 1/-1;
}

.forbidden-lands.item .item .raw-materials {
	grid-column: 1/3;
}

.forbidden-lands.item .sheet-body .supply label,
.forbidden-lands.item .sheet-body .crafting label {
	margin-top: 4px;
}

.forbidden-lands.item .sheet-body .supply label:first-child,
.forbidden-lands.item .sheet-body .crafting label:first-child {
	margin-top: unset;
}

.forbidden-lands.item .item {
	margin: 8px;
	align-items: baseline;
	display: grid;
	gap: 8px;
	grid-template-columns: 1fr 1fr 1fr;
}

.forbidden-lands.item textarea {
	resize: none;
	min-height: 1em;
	height: auto;
	border: none;
	box-shadow: inset 0 0 4px black;
}

.forbidden-lands.item textarea:read-only {
	border: none;
	box-shadow: none;
}

.forbidden-lands.item textarea:read-only:focus {
	box-shadow: none;
}

.forbidden-lands.item .column-header {
	border-bottom: 2px solid var(--color-border);
}

.forbidden-lands.item .roll-modifiers a {
	font-size: 10px;
}

.forbidden-lands.item .roll-modifiers .row {
	margin-bottom: 5px;
}

.forbidden-lands.item .roll-modifiers .row > * {
	margin-right: 8px;
}

.forbidden-lands .features {
	justify-content: flex-start;
}

.forbidden-lands .grid-full-line {
	grid-column: 1/-1;
}

.forbidden-lands .features .feature {
	margin: 5px 2px 2px;
	flex-grow: 1;
	font-family: var(--font-input);
	font-size: 12px;
}

.forbidden-lands .features .feature.active {
	font-weight: bold;
}

.forbidden-lands .features .feature > i {
	vertical-align: middle;
}
