.forbidden-lands .monster {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.forbidden-lands .monster .bio label {
    font-family: var(--font-special);
}
.forbidden-lands .monster .bio input {
    flex-grow: 1;
    margin: 0 8px;
}

.forbidden-lands .monster .bio .bio-row {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.forbidden-lands .monster .bio .avatar {
    flex: 0 0 auto;
    height: 95px;
    margin-right: 8px;
    width: 95px;
}

.forbidden-lands .monster .bio .avatar img {
    border: 0 none;
    display: block;
    max-width: 95px;
    max-height: 95px;
    min-width: 20px;
    min-height: 20px;
    margin: auto;
}
.forbidden-lands .monster .bio .avatar img:hover {
    box-shadow: 0 0 10px red;
    cursor: pointer;
}

.forbidden-lands .monster .bio .name {
    display: flex;
    flex-direction: row;
}

.forbidden-lands .monster .bio .armor input {
    width: 3em;
}

.forbidden-lands .monster .bio .movement input {
    width: 3em;
}

.forbidden-lands .monster .attributes {
    grid-column-end: span 2;
}

.forbidden-lands .monster .conditions {
    display: none;
}