.forbidden-lands .monster {
    height: 100%;
    width: 100%;
}

.forbidden-lands .monster .bio .avatar {
    flex: 0 0 auto;
}

.forbidden-lands .monster .bio .avatar img {
    border: 1px dashed black;
    border-radius: 10px;
}

.forbidden-lands .monster .bio .name {
    flex: 0 0 100%;
}

.forbidden-lands .monster .bio .armor {
    flex: 0 0 50%;
}

.forbidden-lands .monster .bio .armor b:hover {
    text-shadow: 0 0 10px darkolivegreen;
}

.forbidden-lands .monster .bio .movement {
    flex: 0 0 50%;
}

.forbidden-lands .monster .monster-talent {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px dashed lightslategrey;
}

.forbidden-lands .monster .monster-talent:last-child {
    border-bottom: none;
}

.forbidden-lands .monster .monster-attack {
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px dashed lightslategrey;
}

.forbidden-lands .monster .monster-attack:last-child {
    border-bottom: none;
}