.forbidden-lands.chat-item {
	background: var(--color-background);
	border-radius: 3px;
	color: var(--color-theme-text);
	font-family: var(--font-body);
	font-size: var(--font-size-12);
	line-height: 16px;
	padding: 8px;
}

.chat-message .message-header .message-metadata {
	font-size: var(--font-size-12);
}

.forbidden-lands.chat-item .border {
	padding: 8px;
}

.forbidden-lands.chat-item .link-header {
	text-align: center;
}

.forbidden-lands.chat-item strong {
	text-transform: uppercase;
}

.forbidden-lands.chat-item h3 {
	font-family: var(--font-header-sc);
	font-size: var(--font-size-14);
	font-weight: bold;
	margin: 0 0 8px;
	text-align: center;
}

.forbidden-lands.chat-item h4 {
	font-family: var(--font-alternative);
	font-size: var(--font-size-14);
	font-weight: bold;
	margin: 0 0 8px;
	text-align: center;
}

.forbidden-lands.chat-item h3+h4 {
	margin-top: -8px;
}

.forbidden-lands.chat-item img {
	background: radial-gradient(circle, rgba(0, 0, 0, 0.5) -20%, rgba(0, 0, 0, 0.1) 40%, transparent 60%);
	border: 0;
	display: block;
	margin: 0 auto 8px;
	max-height: 64px;
	width: auto;
}

.forbidden-lands.chat-item p {
	margin: 0 0 4px;
}

.forbidden-lands {
	&.chat-item {
		.link-header {
			a {
				line-height: 18px;
			}
		}

		h3 {
			font-family: "IM Fell DW Pica SC";
		}

		h4 {
			font-family: "IM Fell DW Pica";
		}
	}

	&.item {
		.header {
			border: 10px solid transparent;
			border-image: url(./assets/journal-art/small-border.webp) 100/10px repeat;

			.header-stats {
				.bonus {
					grid-gap: 5px;

					i {
						vertical-align: unset;
					}
				}
			}
		}
	}

	.border {
		border: none;
	}
}

.forbidden-lands.chat-item {
	background: none;
}

.forbidden-lands.chat-item,
.forbidden-lands.chat-item .border {
	padding: 0 4px;
}

.message-content {
	.entity-link {
		border: none;
	}
}