.roll-dialog {
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
	gap: 1rem;

	h2 {
		text-align: center;
		font-family: "IM FELL DW PICA SC";
		text-transform: uppercase;
		border-bottom: none;
		font-weight: bold;
		font-size: var(--font-size-18);
	}

	h3 {
		border-bottom: 2px solid #3336;
	}

	label {
		display: block;
		font-weight: bold;
		text-align: left;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
		text-align: center;

		&.spell {
			label {
				text-align: right;
				text-transform: uppercase;
			}
		}
	}

	.dice {
		input {
			width: 70%;
			margin: 0.5rem 0.5rem 0 0;
		}

		label {
			margin-top: 1rem;
		}
	}

	.options {
		display: flex;
		flex-direction: column;

		.legend,
		.modifiers {
			text-align: center;
			display: grid;
			grid-template-columns: 1fr 3fr 1fr;
			gap: 12px;
			align-items: center;
		}

		.legend {
			font-weight: bold;
			font-family: var(--font-header-sc);
		}

		.modifiers {
			label {
				display: inline;

				&:last-of-type {
					text-align: right;
				}
			}
		}

		.final-modifier {
			margin: auto 0 0;
		}
	}

	.form-actions {
		padding: 1rem;
		justify-items: center;

		button[type="reset"] {
			background: transparent;
		}

		button {
			background: var(--color-theme-gray-400);
			padding: 0.3em 32px;
			font-weight: 400;
			border: 2px solid var(--color-theme-gray-400);
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover,
			&:focus {
				box-shadow: none;
				background: var(--color-theme-gray-200);
			}

			&:active {
				box-shadow: none;
				border: 2px ridge var(--color-theme-alt-900);
			}
		}
	}

	input#artifact {
		width: 100%;
	}

	.display-numbers {
		font-family: var(--font-header-sc);
		font-size: var(--font-size-48);
		line-height: var(--font-size-48);
	}

	.spell-options {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-right: 1.5rem;

		.modifiers {
			grid-template-columns: 3fr 1fr;

			label {
				text-align: right;
			}
		}
	}
}

.spell-dialog {
	h2::before {
		background: url(./assets/journal-art/pentagram-border.webp) no-repeat top center;
	}
}

.attack-dialog {
	h2::before {
		background: url(./assets/journal-art/attack-border.webp) no-repeat top center;
	}
}

.spell-dialog,
.attack-dialog {
	h2::before {
		display: block;
		content: "";
		height: 56px;
		background-size: 100%;
		width: 77%;
		margin: 0 auto;
	}

	h2::after {
		background: url(./assets/journal-art/endstop.webp) center no-repeat;
		content: "";
		width: 147px;
		height: 40px;
		display: block;
		background-size: 100%;
		margin: 0 auto;
	}

	span[contenteditable="true"]:focus-visible {
		outline-color: black;
		outline-offset: 4px;
	}
}

.roll-group-btns {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin-top: 5px;

	a i {
		font-size: 25px;
	}

	input {
		margin: 0 5px !important;
	}
}