@use "../utils";

.app.sheet .editor {
	min-height: 55px;
	height: 100%;
}

.window-app.image-popout .window-content {
	background: none;
}

.sheet.journal-entry {
	.journal-sidebar {
		color: var(--color-text-dark-primary);

		.header-search input {
			background-color: #eeed;
		}
	}
	.journal-entry-content {
		background-image: unset;
		border: none;
		border-radius: none;
	}
}

.app.journal-sheet,
.app.sheet.actor {
	.editor,
	.journal-entry-content {
		font-family: var(--font-editor);
		font-size: var(--font-size-18);
		max-width: max(90%, 60ch);
		margin-inline: auto;

		.journal-header > input[name="name"] {
			font-family: "IM Fell Three Line Pica";
			font-size: var(--font-size-32);
			text-transform: uppercase;
			text-align: center;
			line-height: 2;
			background-color: #fff;
			border: 1px solid transparent;
			border-image: url("./assets/journal-art/title-border.webp");
			border-image-slice: 50%;
			border-image-width: 100%;
			padding: max(10px, 1%) min(14%, 130px) 0;
			text-overflow: ellipsis;
			width: min(100%, 900px);
			min-height: 200px;
			height: min(45%, 300px);
			display: block;
			margin-inline: auto;
			&:focus {
				box-shadow: none;
			}
		}
		#{utils.fromTo(h,1,6)} {
			font-family: "IM Fell Three Line Pica";
			text-transform: uppercase;
			text-indent: 0px;
			text-align: center;
			border: unset;
		}
		h5 {
			margin: 0px auto;
			font-family: "IM Fell Three Line Pica";
			text-transform: uppercase;
			border-top: 1px solid black;
			padding-top: 4px;
		}
		ul {
			list-style-type: "\2725      ";

			li::marker {
				font-size: var(--font-size-14);
			}
		}
		table {
			background: transparent;
			font-family: var(--font-table);
			font-size: var(--font-size-14);
			border: none;

			thead {
				background: transparent;
				color: var(--color-text-dark-primary);
				text-shadow: none;

				border: none;
				border-bottom: 2px solid var(--color-border);
			}

			tr {
				border: none;
				border-bottom: 1px solid var(--color-border);
				padding: 0.5rem;

				&:nth-child(odd):not(:has(th)) {
					background-color: #cbcccb;
				}
			}
		}
	}
}

.editor:focus,
.editor:hover,
.journal-entry-page.text:focus .edit-container,
.journal-entry-page.text:hover .edit-container {
	.editor-edit {
		background: #cccd;
		border: none;
		box-shadow: 0 0 3px #1119;
		right: 10px;
		width: 24px;
		height: 24px;
		display: grid;
		place-content: center;
		z-index: 100;

		i {
			font-size: var(--font-size-16);
		}
	}
}
