.forbidden-lands.item .header {
	border: 10px solid transparent;
	border-image: url(../assets/journal-art/small-border.webp) 100/18px repeat;
}

.forbidden-lands .main-tab div.border,
.forbidden-lands div.bio.border,
.character div.currencies.border,
.character div.consumables.border,
.chargen-build,
.character div.actions.border {
	border: 6px solid transparent;
	border-image: url(../assets/journal-art/small-border.webp) 70/12px repeat;
}

.forbidden-lands.sheet label {
	font-family: var(--font-special);
	font-size: 1.05rem;
	font-weight: bold;
}

.forbidden-lands h1,
.forbidden-lands h3 {
	border: 0 none;
	font-family: var(--font-subheader);
	font-size: 14px;
	font-weight: bold;
	line-height: initial;
	margin: 0;
	padding: 4px 4px;
	text-align: center;
	text-transform: uppercase;
}

.forbidden-lands h3 {
	padding: 0;
	margin-bottom: 4px;
}

.forbidden-lands .rotated {
	transform: rotate(90deg);
	font-size: 10px;
}

.forbidden-lands .pre-wrap {
	white-space: pre-wrap;
}

.forbidden-lands .flex {
	display: flex;
}

.forbidden-lands .row {
	flex-direction: row;
}

.forbidden-lands .column {
	flex-direction: column;
}

.forbidden-lands .full {
	width: 100%;
	height: 100%;
}

.forbidden-lands .wrap {
	flex-wrap: wrap;
}

.forbidden-lands .half {
	flex: 0 0 50%;
}

.forbidden-lands .center {
	text-align: center;
}

.forbidden-lands .margin {
	margin: 5px;
}

.forbidden-lands .grow {
	flex-grow: 1;
}

.forbidden-lands .align-center {
	align-items: center;
}

.forbidden-lands .align-end {
	align-items: flex-end;
}

.forbidden-lands .space-around {
	justify-content: space-around;
}

.forbidden-lands .space-between {
	justify-content: space-between;
}

.forbidden-lands .justify-end {
	justify-content: flex-end;
}

.forbidden-lands .padding {
	padding: 5px;
}

.forbidden-lands.window-app .window-content > * {
	height: 100%;
}

.forbidden-lands .tabs .item.active {
	color: #fff;
	text-shadow: 0 0 10px #fff;
}

.forbidden-lands .tab {
	height: 100%;
	width: 100%;
}

.forbidden-lands .item-control {
	margin-left: 4px;
}

.forbidden-lands button {
	background: transparent;
	border: 0 none;
	border-radius: 3px;
	box-shadow: none;
	color: var(--color-foreground);
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	height: auto;
	line-height: inherit;
	padding: 2px 4px;
	width: auto;
}
.forbidden-lands button:focus,
.forbidden-lands button:hover {
	background: var(--color-highlight);
}

.forbidden-lands input[type="number"],
.forbidden-lands input[type="text"],
.forbidden-lands select,
.forbidden-lands textarea {
	background: var(--color-background);
	border: 1px solid var(--color-border);
	border-radius: 3px;
	box-shadow: inset 0 0 6px var(--color-secondary);
	color: var(--color-foreground);
	font-family: var(--font-input);
	font-size: 12px;
	height: auto;
	line-height: 16px;
	padding: 2px 4px;
	margin: 2px -4px;
	width: 100%;
}
.forbidden-lands input:disabled,
.forbidden-lands select:disabled,
.forbidden-lands textarea:disabled {
	border: 0 none;
	box-shadow: none;
}

.forbidden-lands input[type="number"] {
	-moz-appearance: textfield;
	text-align: center;
}
.forbidden-lands input[type="number"]::-webkit-outer-spin-button,
.forbidden-lands input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.forbidden-lands input[type="number"]:focus,
.forbidden-lands input[type="text"]:focus,
.forbidden-lands select:focus,
.forbidden-lands textarea:focus {
	border: 1px solid var(--color-border);
	box-shadow: 0 0 10px #ff6400;
	outline: none;
}

.forbidden-lands .sheet-body {
	overflow: hidden;
	flex-grow: 1;
}

.forbidden-lands .editor,
.forbidden-lands .editor-content {
	font-family: var(--font-editor);
	height: 100%;
	padding: 5px;
	width: 100%;
}

.forbidden-lands .item-list {
	display: flex;
	flex-direction: column;
	font-family: var(--font-table);
	font-size: 12px;
	line-height: 16px;
	min-height: 0;
	padding: 4px;
}
.forbidden-lands .item-list .header {
	align-items: flex-end;
	border-bottom: 2px solid var(--color-border);
	margin-bottom: 4px;
	font-size: 10px;
	font-weight: bold;
	padding: 4px;
	text-transform: uppercase;
}
.forbidden-lands .item-list .header .name:before {
	content: "";
	width: 36px;
}
.forbidden-lands .item-list .items {
	overflow-y: scroll;
	scrollbar-width: none;
}
.forbidden-lands .item-list .items .item {
	border-bottom: 1px solid var(--color-border);
	padding-right: 4px;
}
.forbidden-lands .item-list .items .item:last-child {
	border-bottom: 0 none;
}
.forbidden-lands .item-list .items .item:nth-child(odd) {
	background: var(--color-secondary);
}
.forbidden-lands .item-list .items .item:nth-child(odd) button:focus,
.forbidden-lands .item-list .items .item:nth-child(odd) button:hover {
	background: var(--color-background);
}

.forbidden-lands .item-list .items .item .image-container {
	background: radial-gradient(closest-side, var(--color-highlight) 0%, transparent 100%);
	margin-right: 4px;
}

.forbidden-lands .item-list .items .item .image {
	background-size: 32px;
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
}

.forbidden-lands.sheet .window-content {
	background: var(--color-background);
	color: var(--color-foreground);
	height: 100%;
}

/* Scrollbars */
.app {
	background: #292929 f0;
	&.window-app {
		color: black;
		border: 9px solid transparent;
		border-image: url(../assets/journal-art/box-border-large.webp) 108/3 repeat;
		border-image-outset: 1;
		background-color: white;
		.journal-sheet {
			min-width: 500px;
			min-height: 300px;
		}
		&.sheet {
			&.forbidden-lands {
				&.actor {
					::-webkit-scrollbar {
						width: 6px;
					}
					::-webkit-scrollbar-thumb {
						background: var(--color-secondary);
						border: 0 none;
					}
				}
			}
		}
	}
	&.sidebar-popout {
		.window-content {
			width: 96%;
			margin: auto;
			color: #222;
			margin-bottom: 10px;
		}
		.subdirectory {
			border-color: #555;
			li {
				&.folder {
					& > .folder-header {
						background: rgba(0, 0, 0, 0.2);
						color: #222;
					}
				}
			}
		}
		li {
			&.folder {
				& > .folder-header {
					background: rgba(255, 255, 255, 0.9);
					color: #222;
					h3 {
						color: #222;
					}
					.create-entity {
						color: #444;
					}
				}
			}
			&.directory-item {
				&.entity {
					background: rgba(0, 0, 0, 0.5);
					color: #eee;
				}
			}
		}
		.folder {
			& > .folder-header {
				.create-folder {
					color: #444;
				}
			}
		}
	}
}

#chat-log .message {
	background: white;
}
.app,
#hotbar .macro,
#hotbar .macro .macro-key,
#hotbar .bar-controls,
#controls .scene-control,
#controls .control-tool,
#navigation #nav-toggle,
#navigation #scene-list .scene {
	background: var(--color-foreground);
	color: var(--color-background);
}
button,
.dialog .dialog-buttons button.default,
#chat-form textarea,
#chat-controls div.roll-type-select select,
.window-app .window-content,
.sidebar-tab .directory-header .header-search input {
	background: var(--color-background);
	color: var(--color-foreground);
}
#navigation #scene-list .scene.gm {
	background: #525252;
	border: 1px solid var(--color-border);
}

.forbidden-lands .sheet-tabs {
	background-color: var(--color-foreground);
	color: #ddd;
	font-family: var(--font-special);
	margin: 8px 0;
	padding: 0 8px;
	flex-wrap: nowrap;
	justify-content: space-evenly;

	b:hover {
		cursor: pointer;
		text-shadow: 0 0 8px red;
	}
	.tab-item {
		position: relative;
		flex: 1 0;
		padding: 8px 19px;
		font-weight: 400;
		font-size: 15px;
		color: #fff;
		text-align: center;
		white-space: nowrap;

		&:hover {
			text-shadow: 0 0 10px #fff;
		}
		&.active {
			color: #fff;
			text-shadow: 0 0 6px #fff;

			&:before {
				content: "x";
				position: absolute;
				font-family: swordlings;
				margin-left: -16px;
				margin-top: 1px;
			}
			&:after {
				position: absolute;
				content: "l";
				font-family: skullz;
				font-size: 24px;
				line-height: 22px;
				margin-top: 1px;
				margin-left: 1px;
			}
		}
	}
}

.fas.fa-circle,
.far.fa-circle,
.far.fa-times-circle,
.far.fa-check-circle {
	font-size: 14px;
	color: #333;
}

.forbidden-lands .broken {
	color: #a00;
}

.broken .fas.fa-circle,
.broken .far.fa-circle,
.broken .far.fa-times-circle,
.condition .far.fa-times-circle,
.broken .far.fa-check-circle {
	color: #a00;
}
.broken .change-willpower .far.fa-circle {
	color: #333;
}

.journal-sheet {
	form {
		display: flex;
		flex-direction: column;
		.editor {
			height: 100%;
		}
		input[name="name"] {
			font-family: "IM Fell Three Line Pica";
			font-size: 3rem;
			text-transform: uppercase;
			text-align: center;
			background-color: #fff;
			border-image: url("../assets/journal-art/title-border.webp");
			border-image-slice: 50%;
			border-image-width: 100%;
			padding: max(10px, 1%) min(14%, 130px) 0;
			text-overflow: ellipsis;
			width: min(100%, 900px);
			min-height: 200px;
			height: min(45%, 300px);
			margin: auto;
		}
		input[name="name"]:focus {
			box-shadow: none;
		}
		button[type="submit"] {
			background: white;
			width: 120px;
			line-height: 1;
			padding: 5px;
			display: none;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 10px;
			border: 5px solid transparent;
			border-image: url("../assets/border-small.png") 20/10px repeat;
			border-image-outset: 1;
			opacity: 0%;
			transition: all 0.1s;
			z-index: 9999;
		}
		button[type="submit"]:hover {
			display: block;
			opacity: 100%;
			box-shadow: 0 0 8px grey;
		}
		button[type="submit"]:focus {
			opacity: 100%;
			box-shadow: 0 0 8px grey;
		}
	}
}
