:root {
	--color-foreground: #221f20;
	--color-background: #fff;
	--color-highlight: #d1d2d4;
	--color-secondary: #e1e2e4;
	--color-border: #939598;
	--font-editor: "IM Fell Great Primer", serif;
	--font-input: "Poppins", sans-serif;
	--font-special: "IM Fell DW Pica", serif;
	--font-subheader: "IM Fell DW Pica SC", serif;
	--font-table: "Poppins", sans-serif;
	--font-size--very-small: 12px;
	--font-size--small: 14px;
	--font-size--default: 16px;
	--font-size--large: 18px;
	--font-size--extra-large: 20px;
	font-size: var(--font-size--small);
}
