:root {
	--color-foreground: #221f20;
	--color-background: #fff;
	--color-highlight: #d1d2d4;
	--color-secondary: #e1e2e4;
	--color-border: #939598;
	--font-editor: "IM Fell Great Primer", serif;
	--font-input: "Poppins", sans-serif;
	--font-special: "IM Fell DW Pica", serif;
	--font-subheader: "IM Fell DW Pica SC", serif;
	--font-table: "Poppins", sans-serif;
}
