:root {
	--color-foreground: #292929f0;
	--color-background: #fff;
	--color-highlight: #aaa;
	--color-secondary: #ddd;
	--color-border: #939598;
	--font-editor: "IM Fell Great Primer", serif;
	--font-input: "Poppins", sans-serif;
	--font-special: "IM Fell DW Pica", serif;
	--font-subheader: "IM Fell DW Pica SC", serif;
	--font-table: "Poppins", sans-serif;
	font-size: 62.5%;
	--font-size--extra-small: 1rem;
	--font-size--very-small: 1.3rem;
	--font-size--small: 1.4rem;
	--font-size--default: 1.6rem;
	--font-size--large: 1.8rem;
	--font-size--extra-large: 2rem;
}
