.forbidden-lands .character {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.forbidden-lands .character .bio label {
	font-family: var(--font-special);
	margin-left: 8px;
}

.forbidden-lands .character .bio table {
	width: auto;
	background: none;
	border: none;
	margin: 5px 0;
}

.forbidden-lands .character .bio table td {
	padding: 0.25em;
	input {
		max-width: 50px;
		&.kin,
		&.profession {
			max-width: 120px;
		}
		&.name {
			max-width: 225px;
		}
	}
}

.forbidden-lands .character .bio {
	padding: 0 8px;
	.avatar {
		background: radial-gradient(closest-side, var(--color-highlight) 0%, transparent 100%);
		flex: 0 0 auto;
		height: 95px;
		width: 95px;
		padding: 0 0.25em;
		&:hover {
			box-shadow: 0 0 10px #a00;
			cursor: pointer;
		}
		img {
			border: 0 none;
			display: block;
			max-width: 95px;
			max-height: 95px;
			min-width: 20px;
			min-height: 20px;
			margin: auto;
			&:hover {
				box-shadow: 0 0 10px #a00;
				cursor: pointer;
			}
		}
	}
	.willpower.skulls {
		justify-content: flex-start;
		align-items: flex-end;
		white-space: nowrap;
		height: 1.75em;
		.change-willpower > i.skull {
			font-size: var(--font-size--default);
		}
	}
}

.forbidden-lands
	.character
	.bio
	.avatar
	.forbidden-lands
	.character
	.bio
	.avatar
	img
	.forbidden-lands
	.character
	.roll {
	background: transparent;
	border: 0 none;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
}

.forbidden-lands .character .roll:hover {
	box-shadow: none;
	text-shadow: 0 0 8px #a00;
}

.forbidden-lands .character .push {
	background: transparent;
	border: 0 none;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
}

.forbidden-lands .character .push:hover {
	box-shadow: none;
	text-shadow: 0 0 8px #a00;
}

.forbidden-lands .monster h1,
.forbidden-lands .character h1 {
	padding: 8px 4px 4px;
}
