@font-face {
	font-family: "IM Fell DW Pica";
	src: url("../fonts/IMFellDWPica-Regular.ttf");
}

@font-face {
	font-family: "IM Fell DW Pica";
	src: url("../fonts/IMFellDWPica-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "IM Fell DW Pica SC";
	src: url("../fonts/IMFellDWPicaSC-Regular.ttf");
}

@font-face {
	font-family: "IM Fell Great Primer";
	src: url("../fonts/IMFellGreatPrimer-Regular.ttf");
}

@font-face {
	font-family: "IM Fell Great Primer";
	src: url("../fonts/IMFellGreatPrimer-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Poppins";

	src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
	font-family: "Poppins";
	font-weight: bold;
	src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
	font-family: "Poppins";
	font-style: italic;
	src: url("../fonts/Poppins-Italic.ttf");
}

@font-face {
	font-family: "Poppins";
	font-style: italic;
	font-weight: bold;
	src: url("../fonts/Poppins-BoldItalic.ttf");
}
