.forbidden-lands .character {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.forbidden-lands .character .bio label {
	font-family: var(--font-special);
	margin-left: 8px;
}

.forbidden-lands .character .bio table {
	width: auto;
	background: none;
	border: none;
	margin: 5px 0;
}

.forbidden-lands .character .bio table td {
	padding: 0.25em;
	text-align: right;
	input {
		max-width: 50px;
		&.kin,
		&.profession {
			text-align: left;
			max-width: 120px;
		}
		&.name {
			text-align: left;
			max-width: 225px;
		}
	}
}

.forbidden-lands .character .bio {
	.willpower.skulls {
		justify-content: flex-start;
		align-items: flex-end;
		white-space: nowrap;
		height: 1.75em;
		.change-willpower > i.skull {
			font-size: var(--font-size-16);
		}
	}
}

.forbidden-lands
	.character
	.bio
	.avatar
	.forbidden-lands
	.character
	.bio
	.avatar
	img
	.forbidden-lands
	.character
	.roll {
	background: transparent;
	border: 0 none;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
}

.forbidden-lands .character .roll:hover {
	box-shadow: none;
	text-shadow: 0 0 8px var(--color-shadow-primary);
}

.forbidden-lands .character .push {
	background: transparent;
	border: 0 none;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
}

.forbidden-lands .character .push:hover {
	box-shadow: none;
	text-shadow: 0 0 8px #a00404;
}

.forbidden-lands .monster h1,
.forbidden-lands .character h1 {
	padding: 8px 4px 4px;
}

.forbidden-lands .roll-consumable {
	text-transform: uppercase;
}
