.forbidden-lands {
	&.item {
		min-height: 250px;
		min-width: 380px;
		height: 100%;
		max-width: 600px;
		max-height: 700px;

		.header {
			align-items: center;
			display: flex;
			gap: 8px;
			padding: 8px;
			justify-content: space-between;
			height: fit-content;
			border: 6px solid transparent;
			border-image: url(./assets/journal-art/small-border.webp) 100/10px repeat;

			.header-stats {
				display: grid;
				grid-template-columns: auto 1fr;
				align-items: center;
				gap: 4px;
				margin-left: 8px;

				label {
					grid-column: 1;
					text-align: right;
					margin-right: 8px;
				}

				.bonus {
					display: grid;
					grid-template-columns: 1fr auto;
					align-items: center;

					i {
						vertical-align: middle;
					}

					input {
						width: 2em;
					}

					.skulls {
						font-size: var(--font-size-12);
					}
				}
			}

			.stats {
				display: grid;
				grid-template-columns: repeat(4, auto);
				justify-items: flex-end;
				gap: 8px;

				label {
					display: flex;
					flex-wrap: nowrap;
					white-space: nowrap;
					gap: 4px;
					align-items: center;
				}

				input {
					justify-self: flex-start;
				}

				input[type="number"] {
					width: 50px;
				}

				input[name="name"] {
					grid-column: span 3;
				}

				input[type="checkbox"] {
					margin: 0;
					flex: none;
					height: unset;
					width: unset;
				}

				.icon {
					width: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 4px;
				}
			}
		}

		.multivalue {
			align-items: center;
			display: grid;
			margin: 0 8px;
			margin-right: 0;
			font-family: var(--font-special);
			gap: 2px;
			grid-template-columns: 1fr auto 1fr;
		}

		.weight {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		.avatar {
			background: radial-gradient(closest-side, var(--color-highlight) 0%, var(--color-theme-background) 100%);
			grid-row: 1/3;
			height: 95px;
			width: 95px;

			&:hover {
				cursor: pointer;

				& > img {
					filter: drop-shadow(0 0 6px #a00404);
				}
			}

			img {
				border: 0 none;
				display: block;
				max-width: 95px;
				max-height: 95px;
				min-width: 20px;
				min-height: 20px;
				margin: auto;
			}
		}

		.sheet-body {
			overflow-y: auto;
			min-height: 0;

			.tab {
				margin-bottom: 8px;
			}

			.border {
				padding: 8px;
				margin-bottom: 8px;
			}

			.main {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 8px;
				align-items: end;
			}

			.supply,
			.crafting {
				label {
					margin-top: 4px;

					&:first-child {
						margin-top: unset;
					}
				}
			}
		}

		.item {
			margin: 8px;
			align-items: baseline;
			display: grid;
			gap: 8px;
			grid-template-columns: 1fr 1fr 1fr;

			.requirement,
			.tools,
			.effect,
			.description,
			.drawback,
			.appearance,
			.spell-description,
			.talent-description,
			.monster-description,
			.hireling-description,
			.building-raw-materials,
			.building-description {
				grid-column: 1/-1;
			}

			.raw-materials {
				grid-column: 1/3;
			}
		}

		.item div,
		.sheet-body .artifact div,
		.sheet-body .main div {
			position: relative;
		}

		.tox-toolbar__primary {
			[aria-label="Insert/edit link"],
			[aria-label="Table"],
			[aria-label="Horizontal line"] {
				display: none;
			}
		}
	}

	.column-header {
		border-bottom: 2px solid var(--color-border);
	}

	.roll-modifiers {
		grid-column: 1/-1;
		a {
			font-size: var(--font-size-12);
		}

		.hide-field {
			margin-left: 0.5rem;
			i {
				font-family: "Font Awesome 5 Free";
				font-style: normal;
				cursor: pointer;
			}
		}
	}

	.features {
		justify-content: flex-start;

		.feature {
			margin: 5px 2px 2px;
			flex-grow: 1;
			font-family: var(--font-input);
			font-size: var(--font-size-12);

			&.active {
				font-weight: bold;
			}

			& > i {
				vertical-align: middle;
			}
		}
	}

	.grid-full-line {
		grid-column: 1/-1;
	}
}
