.forbidden-lands .monster {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	.bio {
		padding: 8px;
		input {
			flex-grow: 1;
			margin: 0 8px;
		}
	}
}

.forbidden-lands .monster .bio .bio-row {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}

.forbidden-lands .monster .bio .bio-row .npc-type {
	flex-wrap: nowrap;
	white-space: nowrap;
	margin-right: 22px;
	select {
		max-width: 100px;
		margin-left: 4px;
	}
}

.forbidden-lands .monster .bio .avatar {
	background: radial-gradient(closest-side, var(--color-highlight) 0%, white 100%);
	flex: 0 0 auto;
	height: 95px;
	width: 95px;
}

.forbidden-lands .monster .bio .avatar img {
	border: 0 none;
	display: block;
	place-self: center;
	max-width: 100%;
	max-height: 100%;
	min-width: 20px;
	min-height: 20px;
}
.forbidden-lands .monster .bio .avatar:hover {
	box-shadow: 0 0 10px #a00;
	cursor: pointer;
}

.forbidden-lands .monster .bio .name {
	display: flex;
	flex-direction: row;
}

.forbidden-lands .monster .bio .armor button {
	margin: -2px -4px;
}

.forbidden-lands .monster .bio .armor input {
	width: 3em;
}

.forbidden-lands .monster .bio .movement input {
	width: 3em;
}

.forbidden-lands .monster .attributes {
	grid-column-end: span 2;
}

.forbidden-lands .monster .conditions {
	display: none;
}
