.forbidden-lands .monster {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;

	.bio {
		padding: 8px;

		.bio-row {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 8px;

			label {
				display: flex;
				gap: 4px;
			}

			input[type="number"] {
				width: 50px;
			}
			input[name="name"] {
				width: 235px;
			}

			.armor {
				& > div {
					display: flex;
					gap: 4px;
				}

				.roll-armor {
					white-space: nowrap;
					padding: 0;
					margin: 0;
				}
			}

			.description {
				width: 300px;
			}
		}
	}

	.attributes {
		grid-column-end: span 2;
	}

	.conditions {
		display: none;
	}
}
