.forbidden-lands.party {
	min-height: 540px;
	height: 100%;
	max-height: calc(100vh - 10%);

	.main {
		padding: 1rem;
		gap: 2rem;
		justify-content: space-between;

		.random-enc {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			ul {
				list-style: none;
				margin-inline-start: 0.5rem;

				li {
					padding-inline-end: 1rem;
				}
			}
		}
	}

	.avatar {
		padding: 0.5rem;

		&>img {
			vertical-align: middle;
		}
	}

	.border {
		border: 6px solid transparent;
		border-image: url(./assets/journal-art/small-border.webp) 100/10px repeat;
	}

	.party {
		height: 100%;
		min-height: 540px;
		width: 100%;
	}

	.tab-hint {
		font-style: italic;
		text-align: center;
	}
}

.party-member-list {
	height: 100%;
	min-height: 360px;

	ol {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
}

.party-member {
	&:hover {
		background-color: var(--color-theme-gray-200);
	}

	.party-member-avatar {
		flex: 0 0 48px;
		width: 48px;
		height: 48px;
		border: 0px;
		cursor: pointer;
	}

	.party-member-name {
		line-height: 48px;
	}

	.button {
		flex: 0 0 24px;
		width: 24px;
		height: 48px;
		line-height: 48px;
	}

	.content-link {
		padding: 0 6px;
		line-height: 44px;
		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;

		border: 0px;
		background-color: inherit;
	}

	.plain-name {
		margin-right: 6px;
		line-height: 44px;

		white-space: nowrap;
		overflow-x: hidden;
		text-overflow: ellipsis;

		border: 0px;
		background-color: inherit;
	}
}

.travel-actions {
	margin: 0;
	padding: 0.5rem;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;

	li {
		min-height: 1px;

		&.action-other {
			grid-row: 2/4;
			grid-column: 3;
		}

		&.action-sleep {
			grid-row: 2/4;
			grid-column: 2;
		}
	}
}

.travel-action {
	min-width: 196px;
	min-height: 106px;
	margin-bottom: 10px;

	flex-grow: 1;

	ol {
		padding-left: 4px;
	}

	.travel-action-header {
		text-align: center;
		font-weight: bold;
		padding: 4px;
		border-bottom: 1px solid;

		display: flex;
		flex-direction: row;
		justify-content: center;

		.content-link {
			background-color: var(--color-theme-gray-200);
			border: none;
		}
	}

	.travel-action-help {
		border: 1px solid;
		border-radius: 6px;
		background-color: var(--color-theme-alt-800);
		display: flex;
		width: 20px;
		margin-left: 4px;
		justify-content: center;

		&:hover {
			background-color: var(--color-theme-alt-600);
		}
	}

	button.travel-roll {
		font-size: var(--font-size-12);
		display: block;
		width: 99%;

		border-bottom: 1px gray dashed;
	}
}