.forbidden-lands .stronghold {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	.bio {
		padding: 8px;
	}
}

.forbidden-lands .stronghold .bio input {
	flex-grow: 1;
	margin: 0 8px;
}

.forbidden-lands .stronghold .bio .bio-row {
	align-items: baseline;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 5px 0;
}

.forbidden-lands .stronghold .bio .name {
	display: flex;
	flex-direction: row;
}

.forbidden-lands .stronghold .bio .location input {
	width: 15em;
}

.forbidden-lands .stronghold .bio .defense-rating input {
	width: 2em;
}
