@use "../../legacy-styles/utils";

/* ------------------------------------ */
/*              Overrides               */
/* ------------------------------------ */

// Background of the journal entry page
.sheet.journal-entry .journal-entry-content {
	background: var(--color-background);
	border: unset;
	border-radius: unset;
}

// Sidebar
.sheet.journal-entry {
	.journal-sidebar {
		color: var(--color-text-dark-primary);

		.header-search input {
			background-color: #eeed;
		}
	}

	.pages-list .directory-item.active {
		background-color: var(--color-theme-constrast);

		.page-heading {
			font-weight: 600;
		}
	}
}

// Force proper height
.app.sheet .editor {
	min-height: 55px;
	height: 100%;
}

// Edit button
.editor:focus,
.editor:hover,
.journal-entry-page.text:focus .edit-container,
.journal-entry-page.text:hover .edit-container {
	.editor-edit {
		background: #cccd;
		border: none;
		box-shadow: 0 0 3px #1119;
		right: 10px;
		width: 24px;
		height: 24px;
		display: grid;
		place-content: center;
		z-index: 100;

		i {
			font-size: var(--font-size-16);
		}
	}
}

/* ------------------------------------ */
/*               Header                 */
/* ------------------------------------ */

.journal-sheet .journal-header {
	margin: 0 16px 16px;

	// Fat top border
	&::before {
		content: "";
		background-image: url(./assets/journal-art/top_border.webp);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 100px;
		display: block;
		margin-bottom: -16px;
	}

	// Small bottom separator
	&::after {
		content: "";
		background-image: url(./assets/journal-art/endstop.webp);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 25px;
		display: block;
		margin-top: -6px;
	}

	// Title overrides
	.title {
		border: none;
		font-family: "IM Fell Three Line Pica";
		text-transform: uppercase;
		background: transparent;
		text-overflow: ellipsis;
	}
}

// Remove header if book-type
.fbl-book .journal-header {
	display: none;
}

/* ------------------------------------ */
/*               Content                */
/* ------------------------------------ */

// Headings
:where(.journal-entry-page, .editor-content) {
	#{utils.fromTo(h,1,6)} {
		font-family: "IM Fell Three Line Pica";
		text-transform: uppercase;
		text-indent: 0px;
		text-align: center;
		border: unset;
	}
}

// Page header
.journal-page-header {
	h1,
	h2,
	h3 {
		min-height: 250px;
		width: min(100%, 900px);
		margin-inline: auto;
		padding: 20px 85px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		border-image: url("./assets/journal-art/title-border.webp");
		border-image-slice: 50%;
		border-image-width: 100%;
		font-size: var(--font-size-32);
		text-transform: uppercase;
		text-align: center;
		line-height: 1;
		text-overflow: ellipsis;
	}
}

// Page Content
:where(.journal-page-content, .editor-content) {
	font-family: var(--font-editor);
	line-height: 1.75;
	font-size: var(--font-size-16);

	img {
		display: block;
		margin-inline: auto;
	}

	&[data-engine="tinymce"] {
		margin-inline: 1rem;
	}

	ul {
		list-style-type: "\2725   ";
		margin-inline-start: 0.5rem;

		li::marker {
			font-size: var(--font-size-14);
		}
	}

	table {
		background: transparent;
		font-size: var(--font-size-14);
		border: none;

		thead {
			background: transparent;
			color: var(--color-text-dark-primary);
			text-shadow: none;

			border: none;
			border-bottom: 2px solid var(--color-border);
		}

		tr {
			border: none;
			border-bottom: 1px solid var(--color-border);
			padding: 0.5rem;

			&:nth-child(odd):not(:has(th)) {
				background-color: #cbcccb;
			}
		}
	}
}
