:where(.fbl-box) {
	border-style: solid;
	border-image: url("./assets/journal-art/box-border-top-bottom.webp") 60 0 round;
	border-image-width: 20px 0;
	font-family: var(--font-primary);
	line-height: 135%;
	padding: 25px 0;
	margin: 1rem;

	&.info-right,
	&.fbl-journal-info-box {
		width: 320px;
		float: right;
	}

	&.info-left {
		width: 320px;
		float: left;
	}

	h3,
	h4 {
		font-family: var(--font-primary);
		text-transform: unset;
		font-weight: 600;
		font-size: var(--font-size-18);
		margin: 0;
	}

	table {
		th {
			font-size: var(--font-size-14);
		}

		td {
			text-align: center;
		}
	}

	.inline-heading {
		font-family: var(--font-primary);
	}
}

.fbl-italic {
	font-style: italic;
}

.fbl-italic.fbl-centered,
.italic-intro {
	line-height: 200%;
	margin: 2rem 3rem;
	font-size: var(--font-size-18);
	font-weight: 600;
}
