.forbidden-lands .combat-tab {
	display: grid;
	gap: 8px;
	grid-template-rows: 3fr 2fr auto;
	grid-template-columns: 1fr 1fr;
	height: 100%;
}

.forbidden-lands .character .armors {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-bottom: 8px;
}

.forbidden-lands .character .armors h2 button {
	font-weight: inherit;
	margin: -2px -4px;
}

.forbidden-lands .character .armors .header {
	display: flex;
}

.forbidden-lands .character .armors .item.armor {
	align-items: center;
	display: flex;
}

.forbidden-lands .character .armors .armor button {
	margin: -2px -4px;
	text-align: left;
}

.forbidden-lands .character .armors .armor .name {
	align-items: center;
	display: flex;
	flex-basis: 85%;
}

.forbidden-lands .character .armors .armor .name .name {
	display: block;
}

.forbidden-lands .character .armors .item.armor .name .name,
.forbidden-lands .character .armors .armor .bonus {
	margin-left: 4px;
}

.forbidden-lands .character .armors .armor .bonus {
	flex-basis: 15%;
	text-align: center;
}

.forbidden-lands .character .armors .armor .bonus.broken {
	color: var(--color-theme-accent);
}

.forbidden-lands .character .critical-injuries {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-bottom: 8px;

	.critical-injury {
		align-items: center;

		.button {
			flex-basis: 20%;
			font-size: var(--font-size-12);
			text-align: right;
		}

		.name {
			align-items: center;
			display: flex;
			flex-basis: 55%;

			.name {
				margin-left: 4px;
			}
		}

		.healtime {
			align-items: center;
			flex-basis: 30%;
			text-align: center;
		}
	}
}

.forbidden-lands .character .weapons {
	grid-column: 1/-1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-bottom: 8px;
}

.forbidden-lands .character .weapons .header {
	display: flex;
}

.forbidden-lands .character .weapons .item .weapon {
	align-items: center;
	display: flex;
}

.forbidden-lands .character .weapons .weapon .name button {
	margin: -2px -4px;
	text-align: left;
}

.forbidden-lands .character .weapons .weapon .name {
	align-items: center;
	display: flex;
	flex: 1 0 45%;
}

.forbidden-lands .character .weapons .weapon .name .name {
	display: block;
}

.forbidden-lands .character .weapons .weapon .name .name span {
	display: inline-block;
}

.forbidden-lands .character .weapons .item .weapon .name .name,
.forbidden-lands .character .weapons .weapon .bonus,
.forbidden-lands .character .weapons .weapon .damage,
.forbidden-lands .character .weapons .weapon .range {
	margin-left: 4px;
}

.forbidden-lands .character .weapons .weapon .bonus {
	flex-basis: 10%;
	text-align: center;
}

.forbidden-lands .character .weapons .weapon .bonus.broken {
	color: var(--color-theme-accent);
}

.forbidden-lands .character .weapons .weapon .damage {
	flex-basis: 10%;
	text-align: center;
}

.forbidden-lands .character .weapons .weapon .range {
	flex-basis: 15%;
	text-align: center;
}

.forbidden-lands .character .weapons .weapon .weapon-actions {
	flex-basis: 20%;
	text-align: center;
}

.forbidden-lands .character .weapons .weapon .weapon-actions button {
	line-height: 12px;
}

.forbidden-lands .character .weapons .item .features {
	font-style: italic;
	font-size: var(--font-size-12);
}

.forbidden-lands .character .combat-tab .actions {
	grid-column: 1/-1;
	align-items: center;
	padding: 0.5rem 4px;

	i {
		margin-left: 5px;
		margin-bottom: 2px;
		font-size: var(--font-size-16);
	}
}

.forbidden-lands .character .combat-tab .actions h2 {
	text-align: left;
	margin-right: 10px;
}

.forbidden-lands .character .combat-tab .actions div {
	justify-content: flex-end;
}