.forbidden-lands {
	.gear-tab {
		display: grid;
		gap: 8px;
		grid-template-rows: auto 1fr auto;
		height: 100%;

		a.currency-button {
			margin: 0 1px;
			display: inline-block;
			font-size: var(--font-size-16);
			translate: 0 2px;
		}

		.currencies {
			.header {
				font-variant: small-caps;
				justify-content: space-between;
				align-items: center;
				padding: 8px;

				b {
					font-family: var(--font-special);
					font-size: var(--font-size-16);
				}
			}

			.values {
				label {
					font-family: var(--font-special);
					font-variant: normal;
					margin: 0 8px 0 16px;
				}

				input {
					width: 3em;
				}
			}
		}

		.consumables {
			display: grid;
			grid-template-columns: auto auto auto auto auto;

			.consumable {
				display: flex;
				flex-direction: row;
				align-items: center;
				font-family: var(--font-special);
				padding: 8px 0;
				justify-content: center;
				font-size: var(--font-size-16);

				i {
					margin-left: 5px;
					margin-bottom: 2px;
					font-size: var(--font-size-24);
				}

				button {
					margin-right: 6px;
				}

				select {
					width: auto;
				}
			}
		}

		.gears {
			padding-bottom: 8px;
			position: relative;
			overflow: hidden;
			display: flex;
			flex-direction: column;

			.controls {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				background-color: var(--color--background-dark);
				border-radius: 4px;
				box-shadow: 0 2px 3px #0002;
				margin: 0 auto 4px;
				padding: 0 0.5rem;
			}

			button i {
				margin: 0;
			}

			.encumbrance {
				font-family: var(--font-editor);
				font-size: var(--font-size-16);
				padding: 2px 4px;

				&.overencumbered {
					color: #a00404;
				}

				i {
					font-size: var(--font-size-12);
				}
			}

			.items {
				& > table {
					table-layout: fixed;
					width: 100%;
					border: unset;
					background-color: unset;

					thead {
						background-color: transparent;
						color: var(--color-text-dark-1);
						text-shadow: none;
						border: none;
						border-bottom: 2px solid var(--color-border);
						margin-bottom: 4px;
						font-size: var(--font-size-12);
						font-weight: bold;
						padding: 4px;
						text-transform: uppercase;
					}

					th,
					td {
						padding: 2px 4px;
						white-space: nowrap;
						text-align: center;
					}

					th:first-child,
					td:first-child {
						width: 40%;
						text-align: left;
					}

					th:last-child,
					td:last-child {
						text-align: end;
					}
				}

				.profile {
					overflow: hidden;
					text-overflow: ellipsis;
				}

				button {
					margin: 0;
					margin-left: 2px;
					padding: 0;
					width: 16px;
					height: 16px;

					&:first-child {
						margin-left: 0;
					}

					i {
						margin: 0;
					}
				}

				input.quantity {
					width: 50%;
				}

				.broken {
					color: #a00404;
				}
			}
		}
	}
}
