.forbidden-lands .monster .gears {
	padding-bottom: 8px;
}

.forbidden-lands .monster .gears .items .header {
	margin: 0;
	width: 100%;
}

.forbidden-lands .monster .gears .items div + .header {
	margin-top: 8px;
}

.forbidden-lands .monster .gears .gear {
	align-items: center;
}

.forbidden-lands .monster .gears .name {
	align-items: center;
	flex-basis: 55%;
	display: flex;
}

.forbidden-lands .monster .gears .header .name,
.forbidden-lands .monster .gears .name .name,
.forbidden-lands .monster .gears .bonus,
.forbidden-lands .monster .gears .weight,
.forbidden-lands .monster .gears .button {
	margin-left: 4px;
}

.forbidden-lands .monster .gears .bonus,
.forbidden-lands .monster .gears .quantity {
	flex-basis: 15%;
	text-align: center;
}

.forbidden-lands .monster .gears input.quantity {
	flex-basis: 8%;
	margin-right: 3%;
	margin-left: 5%;
}

.forbidden-lands .monster .gears .bonus.broken {
	color: #a00;
}

.forbidden-lands .monster .gears .weight {
	flex-basis: 15%;
	text-align: center;
}

.forbidden-lands .monster .gears .button {
	flex-basis: 15%;
	font-size: 11px;
	text-align: right;
}

.forbidden-lands .monster .gears .encumbrance-div {
	padding: 4px 4px 4px;
	border-bottom: 1px solid var(--color-border);
	line-height: 20px;
	margin-right: 0;
	margin-bottom: 4px;
}

.forbidden-lands .monster .gears .encumbrance {
	font-family: var(--font-special);
	font-size: var(--font-size--default);
}

.forbidden-lands .monster .gears .overencumbered {
	color: #a00;
}

.forbidden-lands .monster .gears .change-mounted {
	font-size: var(--font-size--default);
	margin-right: 10px;
}

.forbidden-lands .monster .gears .change-mounted .fas.fa-horse {
	font-size: var(--font-size--small);
	margin-right: 2px;
}
