.forbidden-lands .monster {
	.armors {
		.armor {
			align-items: center;
			padding: 0 5px 5px 5px;

			&.total input {
				flex-basis: 50%;
				margin-right: 5px;
				margin-left: 5px;
				text-align: center;
			}

			b {
				flex-basis: 50%;
			}

			input {
				flex-basis: 25%;
				margin-right: 5px;
				text-align: center;

				&:last-child {
					margin-right: 0;
					margin-left: 5px;
				}
			}
		}
	}

	.monster-talents {
		overflow: hidden;
		padding-bottom: 8px;

		.monster-talent {
			align-items: center;

			.name {
				align-items: center;
				display: flex;
				flex-basis: 90%;

				b {
					font-size: var(--font-size-14);
					font-weight: bold;
					text-transform: uppercase;
				}
				.name {
					display: block;
					padding-left: 4px;
				}
			}

			.button {
				flex-basis: 10%;
				font-size: var(--font-size-12);
				text-align: right;
			}
		}
	}

	.monster-attacks {
		margin-top: 8px;
		overflow: hidden;

		ol {
			list-style: none;
			counter-reset: item;
			margin: 0;
			padding: 0;

			li {
				counter-increment: item;

				&:before {
					margin-inline: 8px;
					content: counter(item);
					font-weight: 600;
					font-size: var(--font-size-12);
					text-align: center;
					display: inline-block;
				}
			}
		}

		.monster-attack {
			align-items: center;

			button {
				margin: -2px -4px;
			}

			.name {
				align-items: center;
				display: flex;
				flex-basis: 90%;

				a {
					font-size: small;
					font-weight: bold;
					text-transform: uppercase;
				}
				.name {
					padding-left: 4px;
					font-size: var(--font-size-14);
				}
			}

			.button {
				flex-basis: 10%;
				font-size: var(--font-size-12);
				text-align: right;
			}
		}
	}

	.talent-description,
	.monster-attack .name .name {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
