.forbidden-lands .stronghold .gears {
	padding-bottom: 8px;

	.items .header {
		margin: 0;
		width: 100%;
	}

	.items div + .header {
		margin-top: 8px;
	}

	.gear {
		align-items: center;
	}

	.name {
		align-items: center;
		flex-basis: 42%;
		display: flex;
	}

	.header .name,
	.name .name,
	.bonus,
	.quantity,
	.weight,
	.button {
		margin-left: 4px;
	}

	.bonus,
	.weight,
	.quantity {
		flex-basis: 15%;
		text-align: center;
	}
	input.quantity {
		flex-basis: 8%;
		margin-right: 3%;
		margin-left: 5%;
	}

	.bonus.broken {
		color: #a00404;
	}

	.button {
		flex-basis: 10%;
		font-size: var(--font-size-12);
		text-align: right;
	}
}
