.forbidden-lands .stronghold {
	.buildings {
		flex-basis: 50%;

		.building {
			align-items: center;
			padding-block: 4px;

			.name {
				flex-basis: 75%;
			}

			.quantity {
				flex-basis: 15%;
				text-align: center;
			}

			.button {
				flex-basis: 10%;
				font-size: var(--font-size-12);
				text-align: right;
			}
		}
	}
}
