.forbidden-lands .stronghold .hirelings {
	flex-basis: 50%;

	.hireling {
		align-items: center;
		padding-block: 4px;

		.name {
			flex-basis: 55%;
		}

		.quantity {
			flex-basis: 15%;
			text-align: center;
		}

		.salary {
			flex-basis: 20%;
			text-align: right;
		}

		.button {
			flex-basis: 10%;
			font-size: var(--font-size-12);
			text-align: right;
		}
	}
}
