@mixin tab-button($add) {
	#{$add}:before {
		position: absolute;
		font-family: swordlings;
		text-transform: lowercase;
		content: "x";
		font-size: var(--font-size-16);
		left: -6px;
		top: 0.55rem;
	}
	#{$add}:after {
		position: absolute;
		font-family: skullz;
		text-transform: lowercase;
		content: "l";
		font-size: var(--font-size-24);
		top: 0.3rem;
		right: -5px;
	}
}
