@mixin tab-button($add) {
	#{$add}:before {
		position: absolute;
		font-family: swordlings;
		text-transform: lowercase;
		content: "x";
		line-height: 1.5rem;
		margin-left: -16px;
	}
	#{$add}:after {
		position: absolute;
		font-family: skullz;
		text-transform: lowercase;
		content: "l";
		font-size: 26px;
		line-height: 1.5rem;
		transform: translateY(0.15rem);
	}
}
