<div class="chargen-list">
	<div class="chargen-list-caption">{{localize title}}</div>
	<ul>
		{{#each list as |value key|}}
		<li><strong>{{localize key}}</strong>: {{value}}</li>
		{{/each}}
	</ul>
</div>
